<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>

  <system.web>

    <globalization culture="da-DK" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors defaultRedirect="MyErrorPage.aspx" mode="RemoteOnly"/>
    <compilation debug="true">
      <assemblies>
      </assemblies>
    </compilation>


    <pages>
      <controls>
      </controls>
    </pages>

    <httpHandlers>
    </httpHandlers>
    <httpModules>
    </httpModules>

  </system.web>

  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>

    <modules>
    </modules>

    <handlers>
    </handlers>
  </system.webServer>

  <runtime>
  </runtime>

</configuration>
